{% load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="{% url 'app:index' %}">
        <img src="{% static "img/inviso-group.png" %}" class="border m-0 p-0" width="40" height="40" alt="">
        Droit de COM Société</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if path == '/' %}active{% endif %}">
                <a class="nav-link" href="{% url 'app:index' %}">Accueil <span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if path == '/administation/' %}active{% endif %}">
                <a class="nav-link {% if not user.is_staff %}disabled{% endif %}" href="">Administration</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="{% url 'app:index' %}" id="FormSearch">
            {% csrf_token %}
            <label for="{{ form.societe.id_label }}" class="text-white font-weight-bold m-3 mt-2">Societe : </label>
            {{ form.societe }}
            {{ form.target }}
            <a href="{% url 'guard:logout' %}" class="btn btn-outline-danger ml-2 my-sm-0" type="submit">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </form>
    </div>
</nav>
