{% extends 'base.html' %}
{% load static %}
{% block title %}
    Authentification
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'guard/style.css' %}">
    <style>
        .div-logo > img {
            width: 80px;
            height: 80px;
            -webkit-animation-name: bounce;
            -webkit-animation-duration: 0.7s;
            -webkit-animation-direction: alternate;
            -webkit-animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
            -webkit-animation-iteration-count: infinite;
        }
    </style>
{% endblock %}
{% block body %}
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h4 class="heading-section">Connexion Droit de COM</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4">
                    <div class="login-wrap p-4 p-md-5 shadow">
                        <div class="icon d-flex align-items-center justify-content-center bg-white text-success">
                            <div class="div-logo">
                                <img src="{% static 'guard/inviso-group.png' %}"
                                     style="max-width: 120px; border: 1px solid #138808;border-radius: 100%;" alt="">
                            </div>
                        </div>
                        <h3 class="text-center mb-4 text-success">Identifier Vous</h3>
                        <form action="{% url 'guard:login' %}" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.username }}
                            </div>
                            <div class="form-group d-flex">
                                {{ form.password }}
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-100 mb-5">
                                    <div class="form-group">
                                        <button type="submit"
                                                class="btn btn-success rounded submit p-3 px-5">
                                            Connexion
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
{% endblock %}